body {
  padding: 20px;
}
.voltar {
  background-color: #3f3f3f;
  color: #fff;
  padding: 15px 10px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

.voltar:hover {
  background-color: #686868;
  color: #ebebeb;
}
